body{
    font-family: 'Comic Sans MS', sans-serif;
    font-size:20px;
    background-color: beige;
}
header{
    background-color:purple;
    color:white;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    margin:5px;
}
div{
    max-width: 500px;
}
footer{
    background-color: violet;
    padding:10px;
    border-radius: 20px;
    font-family:'Lucida Console',monospace;
}
.ond-tekst{
    color: red;
    background-color: black;
    padding:5px;
    border-radius: 10px;
    font-family:'impact', sans-serif;
}
#potit{
    font-family:'Lucida Console',monospace;
    letter-spacing: 1.1em;
}