body{
    font-family: 'Comic Sans MS', sans-serif;
    font-size:20px;
    background-color: beige;
    overflow:auto;
    margin:0px;
}
header{
    background-color:rgb(113, 38, 110);
    color:white;
    padding:30px;
    text-align: center;
    margin:0px;
}
footer{
    background-color: violet;
    padding:10px;
    font-family:'Lucida Console',monospace;
}
.ond-tekst{
    color: red;
    background-color: black;
    padding:5px;
    border-radius: 10px;
    font-family:'impact', sans-serif;
}
#potit{
    font-family:'Lucida Console',monospace;
    letter-spacing: 1.1em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(85, 14, 82);
  display: flex;
}
nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: rgb(57, 0, 54);
}
nav{
    position:sticky;
    top:0;
}
section{
    margin:20px;
}